* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 350px;
  text-align: left;
}

.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.category {
  font-size: 12px;
  letter-spacing: 2px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.section {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}

.pric {
  margin-bottom: 20px;
}

.new-price {
  font-size: 1.5rem;
  color: #149414;
  font-weight: bold;
}

.old-price {
  font-size: 0.9rem;
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}

.add-to-cart {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #149414;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #0c960c;
}
